#question-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#question-header {
    clear: both;
    margin-top: 115px;
    margin-bottom: 1em;
    padding: 5px 0;
    border-bottom: 1px solid #e4e6e8;
}

#question-header h1 {
    margin-bottom: .5em;
}

#question-header .question-hyperlink {
    color: #242729;
}

#question-header .question-hyperlink {
    font-size: 20px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: .5em;
}
.subheader h2 {
    color: #3b4045;
    font-size: 15px;
}

.subheader h1, .subheader h2 {
    float: left;
    margin-bottom: 0;
    font-weight: normal;
}


.question-page #answers .answer {
    border-bottom: 1px solid #e4e6e8;
}

#answers-header{
	margin: 0 0 50px 10px;
}

.answer {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 728px;
    border-bottom: solid 1px #d2d2d2;
}

.votecell {
    vertical-align: top;
    padding-right: 15px;
    min-width: 70px;
}
.votecell .vote {
    min-width: 46px;
}

.vote {
    text-align: center;
}

.votecell .vote-count-post {
    margin: 0;
}

.vote span {
    display: block;
    color: #6a737c;
}

.vote-count-post {
    display: block;
    font-size: 20px;
    margin: 0 0 3px;
}
td.answercell {
    vertical-align: top;
}
.post-text, .wmd-preview {
    width: 660px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
}