<!DOCTYPE html>
<html layout:decorator="layout/layout">
<head>
<title>Office Assistant - Home Page</title>
<!-- 
<link rel="stylesheet" th:href="@{/assets/css/home.css}" />
<link rel="stylesheet" th:href="@{/assets/css/popup.css}" />
<link rel="stylesheet" th:href="@{/assets/css/form.css}" />
<link rel="stylesheet" th:href="@{/assets/css/grid.css}" />
<link rel="stylesheet" th:href="@{/assets/css/breadcrumbs.css}" />
<link rel="stylesheet" th:href="@{/assets/lib/ztree/zTreeStyle.css}" />
 -->
</head>
<body>
    <div layout:fragment="content">
        <span id="role" th:classappend="${role}"></span>
        <span id="pathById" th:text="${pathById}" style="display : none"></span>
        <span id="request-search-code" th:text="${requestSearchCode}" style="display : none"></span>
        <span id="personId" th:text="${personId}" style="display : none"></span>
        
        <div id="dynamic-css"></div>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">GCS</h3>
                        </div>
                        <div class="panel-body">
                            <div id="ztree">
                                <ul id="tree" class="ztree"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div id="bc"
                                class="btn-group btn-breadcrumb">
                                <a class="btn btn-default">GCS</a>
                            </div>
                            <a id="add-item" class="popup-trigger"
                                name="new-item-button" th:classappend="${role}">Create new
                                Item</a>
                        </div>
                        <div class="panel-body">
                            <div id="area-item"></div>
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="vertical-left">
                                        <div id="select-page-num"
                                            class="pagination">
                                            <span id="page-item-info"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="vertical-right">
                                        <ul class="pagination"
                                            id="paging">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="sub-content">
        <div class="popup-background"></div>
        <div id="popup-container" class="popup">
            <legend id="form-title"> </legend>
            <form id="popup-form">
                <div id="all-form-content">
                    <div id="form-content"></div>
                    <div id="form-sub-content"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input id="popup-submit" type="submit"
                            value="OK"></input>
                    </div>
                    <div class="col-sm-6">
                        <button id="popup-cancel"
                            class="popup-btn-close">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div layout:fragment="page-script">
        <!-- File Upload Lib -->
        <script th:src="@{/assets/lib/fileupload/js/vendor/jquery.ui.widget.js}"></script>
        <script th:src="@{/assets/lib/fileupload/js/jquery.iframe-transport.js}"></script>
        <script th:src="@{/assets/lib/fileupload/js/jquery.fileupload.js}"></script>
        <!-- zTree lib -->
        <script th:src="@{/assets/lib/ztree/jquery.ztree.all.js}"></script>
        <!-- Our Script -->
        <script th:src="@{/assets/js/model/area.js}"></script>
        <script th:src="@{/assets/js/model/camera.js}"></script>
        <script th:src="@{/assets/js/module/message.js}"></script>
        <script th:src="@{/assets/js/module/main-page-service.js}"></script>
        <script th:src="@{/assets/js/module/popup-features.js}"></script>
        <script th:src="@{/assets/js/module/popup.js}"></script>
        <script th:src="@{/assets/js/module/video-stream.js}"></script>
        <script th:src="@{/assets/js/module/tree.js}"></script>
        <script th:src="@{/assets/js/module/grid.js}"></script>
        <script th:src="@{/assets/js/module/breadcrumbs.js}"></script>
        <script th:src="@{/assets/js/module/page-holder.js}"></script>
        <script th:src="@{/assets/js/module/page-data.js}"></script>
        <script th:src="@{/assets/js/module/page-number.js}"></script>
        <script th:src="@{/assets/js/module/thumbnail.js}"></script>
        <script th:src="@{/assets/js/module/main-page.js}"></script>

        <script>
                                    $(document)
                                            .ready(
                                                    function() {
                                                        var homeSettings = {
                                                            contentPanel : "#area-item",
                                                            pagingPanel : "#paging"
                                                        };
                                                        var homePage = new oa.web.module.MainPage(
                                                                homeSettings);

                                                        var popupSettings = {
                                                            popup : '.popup',
                                                            popupTrigger : '.popup-trigger',
                                                            popupButtonClose : '.popup-btn-close',
                                                            cancel : "#popup-cancel",
                                                            popupBackground : '.popup-background',
                                                            mainContent : '#main-content',
                                                            submit : "#popup-submit",
                                                            formContent : '#form-content',
                                                            formSubContent : '#form-sub-content',
                                                            formTitle : '#form-title',
                                                            form : '#popup-form'
                                                        }

                                                        var popup = new oa.web.module.PopupManagement(
                                                                popupSettings);

                                                        var treeSettings = {
                                                            treePanel : "#tree",
                                                            contentObj : homePage
                                                        }
                                                        var tree = new oa.web.module.Tree(
                                                                treeSettings);

                                                        var bcSettings = {

                                                        }

                                                        var bc = new oa.web.module.Breadcrumbs(
                                                                bcSettings);

                                                        var service = new oa.web.module.MainPageService();
                                                        service.register(homePage);
                                                        service.register(tree);
                                                        service.register(popup);
                                                        service.register(bc);
                                                    });
                                </script>
    </div>
</body>
</html>